/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    display: block;
}
*,*::before,*::after{
    box-sizing: border-box;
}

/* customerization */

.header, .profile, .education, .workExperience, .wrap{
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 80px;
    line-height: 94px;
    border-bottom: 2px solid #000;
    padding-top: 47px;
    padding-bottom: 17px;
}
h1, .header img{
    margin-bottom: 48px;
}
h2{
    font-size: 32px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin-bottom: 8px;
}
h2 span{
    font-size: 24px;
    color: #A00404;
    margin-left: 16px;
}
.skills, .contact{
    background-color: #415165;
    text-align: center;
    color: white;
    padding: 24px 0 36px 0;
}
.profile, .education, .skills, .workExperience{
    margin-bottom: 72px;
}
.content{
    font-size: 24px;
}
.content li{
    margin-bottom: 24px;
}
.workExperience p{
    font-size: 20px;
    width: 645px;
}
.skills h2, .contact h2{
    border-bottom: 1px solid white;
    margin-bottom: 32px;
}
.skills .content, .workExperience .content{
    border-left: 1px solid #96A9C4;
    padding-left: 24px;
    margin-left: 24px;
}
.skills span, .contact span{
    color: white;
}
.skills .content{
    text-align: left;
    width: 225px;
    margin: 0 auto;
}
.skills li{
    margin-bottom: 20px;
}
.contact li{
    margin-bottom: 16px;
    font-size: 24px;
}
.contact a{
    color: white;
    text-decoration: none;
}
.contact a:hover{
    color: #96A9C4;
}
.contactIcon li{
    display: inline-block;
    margin-right: 24px;
}